@font-face {
  font-family: "ProximaNovaLight";
  src: url(../fonts/font-proxima/Fontspring-DEMO-proximanova-light.otf);
}
@font-face {
  font-family: "ProximaNovaBold";
  src: url(../fonts/font-proxima/Fontspring-DEMO-proximanova-bold.otf);
}
@font-face {
  font-family: "ProximaNovaRegular";
  src: url(../fonts/font-din/FontsFree-Net-ProximaNova-Regular.ttf);
}
@font-face {
  font-family: "ProximaNovaSemiBold";
  src: url(../fonts/font-proxima/Fontspring-DEMO-proximanova-semibold.otf);
}
@font-face {
  font-family: "DINCondensedBold";
  src: url(../fonts/font-din/FontsFree-Net-D-DINCondensed-Bold.ttf);
}
@font-face {
  font-family: "ProxiamNovaExtrabld";
  src: url(../fonts/font-proxima/Fontspring-DEMO-proximanovacond-extrabold.otf);
}
